// ========== Code ========== //
// Font family and size of the code
$code-font-family: Monaco, "Source Code Pro", Menlo, Consolas, "Liberation Mono", "Courier New", monospace !default;
$code-font-size: .8rem !default;

// Color of the code
$code-color: #E74C3C !default;
$code-color-dark: #E5BF78 !default;

// Color of the code background
$code-background-color: #f9f5d7 !default;
$code-background-color-dark: #282828 !default;

// Color map of the code highlight
$code-highlight-color-map: (
  /* Parentheses */ "p": #a9a9b3,
  /* Keyword */ "k": #af3a03,
  /* KeywordConstant */ "kc": #af3a03,
  /* KeywordDeclaration */ "kd": #af3a03,
  /* KeywordNamespace */ "kn": #af3a03,
  /* KeywordPseudo */ "kp": #af3a03,
  /* KeywordReserved */ "kr": #af3a03,
  /* KeywordType */ "kt": #b57614,
  /* Name */ "n": #333333,
  /* NameAttribute */ "na": #79740e,
  /* NameBuiltin */ "nb": #b57614,
  /* NameBuiltinPseudo */ "bp": #f74840,
  /* NameClass */ "nc": #cb8100,
  /* NameConstant */ "no": #d3869b,
  /* NameDecorator */ "nd": #0086c1,
  /* NameEntity */ "ni": #b57614,
  /* NameException */ "ne": #fb4934,
  /* NameFunction */ "nf": #b57614,
  /* NameFunctionMagic */ "fm": #1ccad6,
  /* NameLabel */ "nl": #9d0006,
  /* NameNamespace */ "nn": #2b77fa,
  /* NameOther */ "nx": #333333,
  /* NameProperty */ "py": #2b77fa,
  /* NameTag */ "nt": #9d0006,
  /* NameVariable */ "nv": #2b77fa,
  /* NameVariableClass */ "vc": #2b77fa,
  /* NameVariableGlobal */ "vg": #2b77fa,
  /* NameVariableInstance */ "vi": #2b77fa,
  /* NameVariableMagic */ "vm": #2b77fa,
  /* Literal */ "l": #2aa198,
  /* LiteralDate */ "ld": #2aa198,
  /* LiteralString */ "s": #79740e,
  /* LiteralStringAffix */ "sa": #79740e,
  /* LiteralStringBacktick */ "sb": #79740e,
  /* LiteralStringChar */ "sc": #79740e,
  /* LiteralStringDelimiter */ "dl": #79740e,
  /* LiteralStringDoc */ "sd": #79740e,
  /* LiteralStringDouble */ "s2": #79740e,
  /* LiteralStringEscape */ "se": #79740e,
  /* LiteralStringHeredoc */ "sh": #79740e,
  /* LiteralStringInterpol */ "si": #79740e,
  /* LiteralStringOther */ "sx": #79740e,
  /* LiteralStringRegex */ "sr": #79740e,
  /* LiteralStringSingle */ "s1": #79740e,
  /* LiteralStringSymbol */ "ss": #076678,
  /* LiteralNumber */ "m": #8f3f71,
  /* LiteralNumberBin */ "mb": #8f3f71,
  /* LiteralNumberFloat */ "mf": #8f3f71,
  /* LiteralNumberHex */ "mh": #8f3f71,
  /* LiteralNumberInteger */ "mi": #8f3f71,
  /* LiteralNumberIntegerLong */ "il": #8f3f71,
  /* LiteralNumberOct */ "mo": #8f3f71,
  /* Operator */ "o": #af3a03,
  /* OperatorWord */ "ow": #af3a03,
  /* Comment */ "c": #928374,
  /* CommentHashbang */ "ch": #928374,
  /* CommentMultiline */ "cm": #928374,
  /* CommentSingle */ "c1": #928374,
  /* CommentSpecial */ "cs": #928374,
  /* CommentPreproc */ "cp": #427b58,
  /* CommentPreprocFile */ "cpf": #427b58,
  /* Generic */ "g": #e72d40,
  /* GenericDeleted */ "gd": #282828,
  /* GenericEmph */ "ge": #076678,
  /* GenericError */ "gr": #9d0006,
  /* GenericHeading */ "gh": #79740e,
  /* GenericInserted */ "gi": #282828,
  /* GenericOutput */ "go": #504945,
  /* GenericPrompt */ "gp": #e72d40,
  /* GenericStrong */ "gs": #e72d40,
  /* GenericSubheading */ "gu": #79740e,
  /* GenericTraceback */ "gt": #3c3836,
  /* TextWhitespace */ "w": #bbbbbb,
) !default;
$code-highlight-color-map-dark: (
  /* Parentheses */ "p": #a9a9b3,
  /* Keyword */ "k": #fe8019,
  /* KeywordConstant */ "kc": #fe8019,
  /* KeywordDeclaration */ "kd": #fe8019,
  /* KeywordNamespace */ "kn": #fe8019,
  /* KeywordPseudo */ "kp": #fe8019,
  /* KeywordReserved */ "kr": #fe8019,
  /* KeywordType */ "kt": #fabd2f,
  /* Name */ "n": #a9b2c0,
  /* NameAttribute */ "na": #b8bb26,
  /* NameBuiltin */ "nb": #fabd2f,
  /* NameBuiltinPseudo */ "bp": #ecbf6f,
  /* NameClass */ "nc": #ecbf6f,
  /* NameConstant */ "no": #d3869b,
  /* NameDecorator */ "nd": #ecbf6f,
  /* NameEntity */ "ni": #fabd2f,
  /* NameException */ "ne": #fb4934,
  /* NameFunction */ "nf": #fabd2f,
  /* NameFunctionMagic */ "fm": #19b9c4,
  /* NameLabel */ "nl": #fb4934,
  /* NameNamespace */ "nn": #41b0f5,
  /* NameOther */ "nx": #a9a9b3,
  /* NameProperty */ "py": #41b0f5,
  /* NameTag */ "nt": #fb4934,
  /* NameVariable */ "nv": #41b0f5,
  /* NameVariableClass */ "vc": #41b0f5,
  /* NameVariableGlobal */ "vg": #41b0f5,
  /* NameVariableInstance */ "vi": #41b0f5,
  /* NameVariableMagic */ "vm": #41b0f5,
  /* Literal */ "l": #2aa198,
  /* LiteralDate */ "ld": #2aa198,
  /* LiteralString */ "s": #b8bb26,
  /* LiteralStringAffix */ "sa": #b8bb26,
  /* LiteralStringBacktick */ "sb": #b8bb26,
  /* LiteralStringChar */ "sc": #b8bb26,
  /* LiteralStringDelimiter */ "dl": #b8bb26,
  /* LiteralStringDoc */ "sd": #b8bb26,
  /* LiteralStringDouble */ "s2": #b8bb26,
  /* LiteralStringEscape */ "se": #b8bb26,
  /* LiteralStringHeredoc */ "sh": #b8bb26,
  /* LiteralStringInterpol */ "si": #b8bb26,
  /* LiteralStringOther */ "sx": #b8bb26,
  /* LiteralStringRegex */ "sr": #b8bb26,
  /* LiteralStringSingle */ "s1": #b8bb26,
  /* LiteralStringSymbol */ "ss": #83a598,
  /* LiteralNumber */ "m": #d3869b,
  /* LiteralNumberBin */ "mb": #d3869b,
  /* LiteralNumberFloat */ "mf": #d3869b,
  /* LiteralNumberHex */ "mh": #d3869b,
  /* LiteralNumberInteger */ "mi": #d3869b,
  /* LiteralNumberIntegerLong */ "il": #d3869b,
  /* LiteralNumberOct */ "mo": #d3869b,
  /* Operator */ "o": #fe8019,
  /* OperatorWord */ "ow": #fe8019,
  /* Comment */ "c": #928374,
  /* CommentHashbang */ "ch": #928374,
  /* CommentMultiline */ "cm": #928374,
  /* CommentSingle */ "c1": #928374,
  /* CommentSpecial */ "cs": #928374,
  /* CommentPreproc */ "cp": #8ec07c,
  /* CommentPreprocFile */ "cpf": #8ec07c,
  /* Generic */ "g": #f16372,
  /* GenericDeleted */ "gd": #282828,
  /* GenericEmph */ "ge": #83a598,
  /* GenericError */ "gr": #fb4934,
  /* GenericHeading */ "gh": #b8bb26,
  /* GenericInserted */ "gi": #282828,
  /* GenericOutput */ "go": #504945,
  /* GenericPrompt */ "gp": #f16372,
  /* GenericStrong */ "gs": #f16372,
  /* GenericSubheading */ "gu": #b8bb26,
  /* GenericTraceback */ "gt": #fb4934,
  /* TextWhitespace */ "w": #bbbbbb,
) !default;
// ========== Code ========== //

